Repository PaddlePaddle/Paddle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wanghuancoder, @luotao1, @Aurelius84, @XiaoguangHu01, @qili93, @sneaxiy, @raindrops2sea, @phlrain, @jzhang533, @kolinwei, @gongweibao, @seiriosPlus, @zhiqiu, @chenwhql, @hong19860320, @Aurelisu84, @juncaipeng, @zhangting2020, @zhwesky2010, @Xreki, @zhhsplendid, @JiabinYang, @zyfncg, @YuanRisheng, @cxxly, @xiaoguoguo626807, @Charles-hit, @cyber-pioneer, @changeyoung98, @tianshuo78520a, @risemeup1, @zhangbo9674, @XieYunshen, @LiYuRio, @ForFishes, @pkuzyc

.github/CODEOWNERS:

CMakeLists.txt @wanghuancoder @luotao1 @Aurelius84 @XiaoguangHu01 @qili93
python/paddle/distributed/__init @sneaxiy @raindrops2sea
python/paddle/distributed/fleet/__init__.py @sneaxiy @raindrops2sea
python/paddle/distributed/fleet/launch.py @sneaxiy @raindrops2sea
python/requirements.txt @phlrain @jzhang533 @kolinwei
python/paddle/base/__init__.py @phlrain @luotao1 @Aurelius84 @qili93
paddle/fluid/operators/distributed/send_recv.proto.in @gongweibao @seiriosPlus
paddle/fluid/framework/unused_var_check.cc @zhiqiu @chenwhql
python/paddle/base/tests/unittests/white_list/check_shape_white_list.py @hong19860320 @luotao1 @Aurelisu84 @phlrain
python/paddle/base/tests/unittests/white_list/op_accuracy_white_list.py @juncaipeng @zhangting2020 @luotao1 @Aurelius84
python/paddle/base/tests/unittests/white_list/compile_vs_runtime_white_list.py @luotao1 @Aurelius84 @phlrain
python/paddle/base/tests/unittests/white_list/no_check_set_white_list.py @luotao1 @Aurelius84 @phlrain
python/paddle/base/tests/unittests/white_list/check_op_sequence_instance_0_input_white_list.py @luotao1 @Aurelisu84 @phlrain
python/paddle/base/tests/unittests/white_list/op_threshold_white_list.py @juncaipeng @zhangting2020 @luotao1 @Aurelius84
python/paddle/base/tests/unittests/white_list/check_op_sequence_batch_1_input_white_list.py @luotao1 @Aurelius84 @phlrain
python/paddle/base/tests/unittests/white_list/no_grad_set_white_list.py @luotao1 @Aurelius84 @phlrain
paddle/scripts/paddle_build.bat @zhwesky2010 @wanghuancoder @luotao1 @Aurelius84
tools/windows/run_unittests.sh @zhwesky2010 @wanghuancoder @luotao1 @Aurelius84
tools/parallel_UT_rule.py @zhwesky2010 @wanghuancoder @luotao1 @Aurelius84
python/paddle/base/parallel_executor.py @Xreki @luotao1 @zhhsplendid @Aurelius84
python/paddle/base/dygraph/layers.py @JiabinYang @chenwhql @phlrain
paddle/fluid/eager/grad_node_info.h @JiabinYang @chenwhql @phlrain
paddle/fluid/eager/grad_node_info.cc @JiabinYang @chenwhql @phlrain
paddle/fluid/eager/grad_tensor_holder.h @JiabinYang @chenwhql @phlrain
paddle/fluid/eager/grad_tensor_holder.cc @JiabinYang @chenwhql @phlrain
paddle/fluid/eager/tensor_wrapper.h @JiabinYang @chenwhql @phlrain
paddle/fluid/eager/autograd_meta.cc @JiabinYang @chenwhql @phlrain
paddle/fluid/eager/autograd_meta.h @JiabinYang @chenwhql @phlrain
paddle/fluid/eager/backward.cc @JiabinYang @chenwhql @phlrain
paddle/fluid/eager/backward.h @JiabinYang @chenwhql @phlrain
paddle/phi/api/include/tensor.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/tensor_base.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/dense_tensor.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/meta_tensor.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/tensor_meta.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/attribute.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/device_context.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/kernel_utils.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/kernel_registry.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/kernel_factory.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/kernel_context.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/phi/core/infermeta_utils.h @chenwhql @phlrain @zyfncg @YuanRisheng
paddle/fluid/prim/api/composite_backward/composite_backward_api.h @cxxly @xiaoguoguo626807 @Charles-hit @cyber-pioneer @JiabinYang
paddle/fluid/prim/api/manual_prim/prim_manual_api.h @cxxly @xiaoguoguo626807 @Charles-hit @cyber-pioneer @JiabinYang
paddle/fluid/prim/api/api.yaml @cxxly @xiaoguoguo626807 @Charles-hit @cyber-pioneer @JiabinYang
paddle/fluid/prim/api/composite_backward/composite_double_backward_api.h @cxxly @xiaoguoguo626807 @Charles-hit @cyber-pioneer @JiabinYang
python/paddle/incubate/autograd/primitives.py @cyber-pioneer @xiaoguoguo626807 @Charles-hit @JiabinYang
python/paddle/incubate/autograd/composite_rules.py @cyber-pioneer @xiaoguoguo626807 @Charles-hit @JiabinYang
python/paddle/autograd/ir_backward.py @Aurelius84 @cxxly @xiaoguoguo626807 @changeyoung98
python/paddle/autograd/backward_utils.py @Aurelius84 @cxxly @xiaoguoguo626807 @changeyoung98
paddle/scripts/paddle_build.sh @tianshuo78520a @risemeup1 @zhangbo9674 @XieYunshen
paddle/phi/infermeta/spmd_rules @LiYuRio @ForFishes @pkuzyc @zhiqiu
paddle/fluid/framework/operator.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/tensor.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/details/op_registry.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/grad_op_desc_maker.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/lod_tensor.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/selected_rows.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/op_desc.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/block_desc.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/var_desc.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/scope.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/ir/node.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/ir/graph.h @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
paddle/fluid/framework/framework.proto @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
python/paddle/base/compiler.py @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
python/paddle/base/framework.py @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84
python/paddle/base/backward.py @XiaoguangHu01 @chenwhql @zhiqiu @Xreki @luotao1 @qili93 @Aurelius84

[CINN] add symbolic arange
  paddle/cinn/hlir/op/elementwise.cc
Owners: none

fix merge bug
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/nullary_infer_sym.cc
Owners: none

Fix adam dtype
  paddle/fluid/pybind/eager_functions.cc
  paddle/fluid/pybind/eager_utils.cc
  paddle/fluid/pybind/eager_utils.h
  python/paddle/optimizer/adam.py
Owners: none

fix unittest
  test/deprecated/sequence/CMakeLists.txt
  test/deprecated/sequence/test_sequence_conv_deprecated.py
  test/legacy_test/op_test.py
  test/sequence/CMakeLists.txt
  test/sequence/test_sequence_conv.py
  test/sequence/test_sequence_expand.py
  test/sequence/test_sequence_pool.py
  test/sequence/test_sequence_softmax_op.py
Owners: @wanghuancoder, @luotao1, @Aurelius84, @XiaoguangHu01, @qili93

5.7
  paddle/phi/infermeta/spmd_rules/embedding.cc
  paddle/phi/kernels/legacy/cpu/elementwise_divide_kernel.cc
Owners: @LiYuRio, @ForFishes, @pkuzyc, @zhiqiu

5.7
  paddle/phi/core/distributed/auto_parallel/dist_tensor.cc
  paddle/phi/core/distributed/auto_parallel/dist_tensor.h
Owners: none

make test lr smaller
  test/legacy_test/test_nadam_op.py
  test/legacy_test/test_radam_op.py
Owners: none

update
  paddle/cinn/operator_fusion/backend/pattern_fuser.cc
  paddle/cinn/operator_fusion/graph_transformer/operation.h
Owners: none

update
  paddle/cinn/operator_fusion/backend/pattern_fuser.cc
Owners: none

cleaner version with postProcessV2
  paddle/phi/kernels/fusion/gpu/masked_multihead_attention_kernel.cu
  paddle/phi/kernels/fusion/gpu/mmha_util.cu.h
Owners: none

make test lr smaller
  test/legacy_test/test_nadam_op.py
  test/legacy_test/test_radam_op.py
Owners: none

fix merge bug (#64069)
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/nullary_infer_sym.cc
Owners: none

Update binary.cc
  paddle/phi/infermeta/binary.cc
Owners: none

Update binary.cc
  paddle/phi/infermeta/binary.cc
Owners: none

Update ops_api_gen.py
  paddle/fluid/pir/dialect/op_generator/ops_api_gen.py
Owners: none

Update ops_api_gen.py
  paddle/fluid/pir/dialect/op_generator/ops_api_gen.py
Owners: none

update test case
  test/collective/fleet/dygraph_group_sharded_stage1_bf16.py
Owners: none

5.7
  paddle/fluid/distributed/auto_parallel/spmd_rules/dist_tensor_spec.cc
Owners: none

5.7
  paddle/fluid/memory/allocation/aligned_allocator.cc
  paddle/fluid/memory/allocation/aligned_allocator.h
  paddle/fluid/memory/allocation/allocator_facade.cc
  paddle/fluid/memory/allocation/auto_growth_best_fit_allocator.h
  paddle/fluid/pir/dialect/operator/ir/ir_selected_rows.cc
  paddle/fluid/pir/dialect/operator/ir/ir_selected_rows.h
  paddle/fluid/pir/dialect/operator/ir/ir_tensor.cc
  paddle/fluid/pir/dialect/operator/ir/ir_tensor.h
  paddle/fluid/pir/dialect/operator/utils/op_yaml_info_parser.cc
  paddle/fluid/pir/dialect/operator/utils/op_yaml_info_parser.h
  paddle/fluid/pir/drr/include/drr_rewrite_pattern.h
  paddle/fluid/pir/drr/src/rewrite_pattern.cc
  paddle/fluid/pir/transforms/gpu/fused_weight_only_linear_pass.cc
  paddle/fluid/pir/transforms/onednn/conv_activation_onednn_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/conv_bias_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/conv_elementwise_add_onednn_fuse_pass.cc
Owners: none

5.7
  paddle/phi/kernels/legacy/cpu/elementwise_divide_kernel.cc
Owners: none

fix codegen to support rearrangement pass
  paddle/cinn/backends/codegen_c_test.cc
Owners: none

delete print optimizer
  test/collective/fleet/dygraph_group_sharded_stage1_bf16.py
Owners: none

test
  test/cpp/prim/CMakeLists.txt
Owners: @wanghuancoder, @luotao1, @Aurelius84, @XiaoguangHu01, @qili93

fix codestyle
  paddle/cinn/ir/ir.cc
  paddle/cinn/ir/ir.h
  paddle/cinn/ir/schedule/impl/loop_transformation.cc
  paddle/cinn/optim/optimize.cc
  paddle/cinn/optim/rearrange_load_instruction.cc
Owners: none

fix bf16 test
  test/legacy_test/test_sinc.py
Owners: none

【Fix PIR Unittest No.125、147、481】Fix some 0D uts in PIR mode (part1) (#64064)
  python/paddle/tensor/attribute.py
  test/deprecated/legacy_test/test_zero_dim_sundry_static_api_deprecated.py
  test/legacy_test/test_zero_dim_sundry_dygraph_api.py
  test/legacy_test/test_zero_dim_sundry_static_api_part1.py
  test/legacy_test/test_zero_dim_sundry_static_api_part3.py
Owners: none

modify cpu tensor no holder bug
  paddle/fluid/pybind/pir.cc
  test/legacy_test/test_jit_save_load_rename.py
Owners: none

int4_1
  paddle/phi/kernels/funcs/weight_dequant_functor.h
  paddle/phi/kernels/gpu/weight_dequantize_kernel.cu
  paddle/phi/kernels/gpu/weight_quantize_kernel.cu
  paddle/phi/kernels/impl/weight_quantize_kernel_gpu_impl.h
Owners: none

[Prim][VJP]support autogen to remove unused composite in .yaml (#64054)
  paddle/fluid/primitive/codegen/gen.py
  paddle/fluid/primitive/codegen/templates/common.j2
  paddle/fluid/primitive/codegen/templates/rule/vjp/generated/generated_vjp.cc.j2
Owners: none

[PIR] Fix typo `set_pit_tests_properties` -> `set_pir_tests_properties` (#64063)
  test/CMakeLists.txt
  test/auto_parallel/CMakeLists.txt
  test/deprecated/CMakeLists.txt
  test/deprecated/distribution/CMakeLists.txt
  test/deprecated/fft/CMakeLists.txt
  test/deprecated/legacy_test/CMakeLists.txt
  test/distribution/CMakeLists.txt
  test/fft/CMakeLists.txt
  test/legacy_test/CMakeLists.txt
  test/mkldnn/CMakeLists.txt
Owners: @wanghuancoder, @luotao1, @Aurelius84, @XiaoguangHu01, @qili93

[Dy2St] Use `full_graph=True` outside dy2st uts (part3) (#64066)
  test/deprecated/prim/prim/vjp/static/test_comp_cast_grad.py
  test/deprecated/prim/prim/vjp/static/test_comp_div_grad.py
  test/deprecated/prim/prim/vjp/static/test_comp_gather_grad.py
  test/deprecated/prim/prim/vjp/static/test_comp_reshape_grad.py
  test/deprecated/prim/prim/vjp/static/test_comp_sqrt_grad.py
  test/deprecated/prim/prim/vjp/static/test_comp_sub_grad.py
  test/deprecated/prim/prim/vjp/static/test_comp_tanh_grad.py
  test/deprecated/prim/prim/vjp/static/test_comp_transpose_grad.py
  test/deprecated/prim/process/test_check_inputs.py
  test/deprecated/rnn/test_rnn_nets.py
  test/deprecated/tokenizer/test_faster_tokenizer_op.py
  test/ipu/test_dy2static_fp16_ipu.py
  test/ipu/test_dy2static_ipu.py
  test/ipu/test_print_op_ipu.py
  test/ir/inference/test_inference_predictor_run.py
  test/ir/inference/test_save_optimized_model_pass.py
Owners: none

[PIR save/load] Open more tests for paddle.save and paddle.load (#64044)
  paddle/fluid/pybind/pir.cc
  python/paddle/framework/io.py
  python/paddle/framework/io_utils.py
  test/deprecated/legacy_test/test_paddle_save_load_binary.py
  test/legacy_test/test_paddle_save_load.py
Owners: none

API Improvement for paddle.nn.functional.group_norm and paddle.nn.GroupNorm (#63881)
  paddle/fluid/inference/tensorrt/plugin/group_norm_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/group_norm_op_plugin.h
  paddle/fluid/inference/tensorrt/plugin/preln_groupnorm_act_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/preln_groupnorm_act_op_plugin.h
  paddle/fluid/inference/tensorrt/plugin/skip_groupnorm_act_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/skip_groupnorm_act_op_plugin.h
  paddle/phi/kernels/gpu/group_norm_kernel.cu
  paddle/phi/kernels/group_norm_kernel.h
  python/paddle/nn/functional/norm.py
  python/paddle/nn/layer/norm.py
  test/legacy_test/test_group_norm_op.py
  test/legacy_test/test_group_norm_op_v2.py
Owners: none

fix bug
  test/legacy_test/test_empty_like_op.py
Owners: none

fix where op infer meta check
  paddle/phi/infermeta/multiary.cc
Owners: none

fix compile err
  paddle/cinn/operator_fusion/backend/pattern_fuser.cc
  paddle/cinn/operator_fusion/frontend/pattern_fuser.cc
  paddle/cinn/operator_fusion/graph_transformer/matcher.h
  paddle/cinn/operator_fusion/graph_transformer/operation.h
  paddle/cinn/operator_fusion/pattern.h
  paddle/cinn/operator_fusion/pattern_fuser.h
  paddle/cinn/operator_fusion/pir_graph_analyzing/CMakeLists.txt
  paddle/cinn/operator_fusion/pir_graph_analyzing/anchor_transform.h
  paddle/cinn/operator_fusion/pir_graph_analyzing/shardable_axes_base.cc
  paddle/cinn/operator_fusion/policy/CMakeLists.txt
  paddle/cinn/operator_fusion/policy/anchor_search_policy.cc
  paddle/cinn/operator_fusion/policy/anchor_search_policy.h
  paddle/cinn/operator_fusion/utils.h
Owners: @wanghuancoder, @luotao1, @Aurelius84, @XiaoguangHu01, @qili93

fix error in arange
  paddle/cinn/hlir/op/elementwise.cc
Owners: none

Fix
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/multiary.h
Owners: none

5.7
  paddle/fluid/ir_adaptor/translator/op_translator.cc
  paddle/phi/infermeta/backward.cc
  paddle/phi/infermeta/spmd_rules/triu.cc
  paddle/phi/kernels/stride/slice_kernel.cc
Owners: @LiYuRio, @ForFishes, @pkuzyc, @zhiqiu

Revert "【Hackathon 6th Fundable Projects 3 No.81】Remove fluid operators ctc_a…" (#64049)
  paddle/fluid/operators/ctc_align_op.cc
  paddle/fluid/operators/ctc_align_op.cu
  paddle/fluid/operators/ctc_align_op.h
  test/legacy_test/test_ctc_align.py
Owners: none
