Repository PaddlePaddle/Paddle, pull requests merged in 2019-01, with the labels that each got.

#15046 Enable INT8 pool OP
  paddle/fluid/operators/pool_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/test_pool2d_int8_mkldnn_op.py
  python/paddle/fluid/tests/unittests/test_pool2d_mkldnn_op.py
  python/paddle/fluid/tests/unittests/test_pool2d_op.py
Labels: Intel, int8

#15124 Enable basic MKL-DNN INT8 Conv OP
  paddle/fluid/operators/conv_mkldnn_op.cc
  paddle/fluid/operators/conv_op.cc
  paddle/fluid/operators/conv_op.h
  paddle/fluid/platform/mkldnn_reuse.h
  python/paddle/fluid/tests/unittests/test_conv2d_fusion_op.py
  python/paddle/fluid/tests/unittests/test_conv2d_int8_mkldnn_op.py
  python/paddle/fluid/tests/unittests/test_conv2d_op.py
Labels: Intel, int8

#15175 Update ngraph to resolve issue with mkldnn upgrade
  cmake/external/ngraph.cmake
  paddle/fluid/framework/ngraph_operator.cc
Labels: Intel, NGraph

#15130 Conv int8 relu
  paddle/fluid/operators/conv_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
  python/paddle/fluid/tests/unittests/test_conv2d_int8_mkldnn_op.py
Labels: Intel, int8

#14803 Enable mean operator for a ngraph engine
  paddle/fluid/framework/ngraph_bridge.cc
  paddle/fluid/operators/ngraph/ngraph_ops.h
  paddle/fluid/operators/ngraph/ops/elementwise_scalar_op.h
  paddle/fluid/operators/ngraph/ops/mean_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_mean_ngraph_op.py
Labels: Intel, NGraph

#15227 PADDLE_WITH_NGRAPH was removed from the code
  paddle/fluid/operators/ngraph/ops/binary_unnary_op.h
  paddle/fluid/operators/ngraph/ops/elementwise_scalar_op.h
  paddle/fluid/operators/ngraph/ops/fill_constant_op.h
  paddle/fluid/operators/ngraph/ops/mean_op.h
  paddle/fluid/operators/ngraph/ops/mul_op.h
  paddle/fluid/operators/ngraph/ops/scale_op.h
  paddle/fluid/operators/ngraph/ops/top_k_op.h
Labels: Intel, NGraph

#15239 Fix ngraph cmake warning
  cmake/external/ngraph.cmake
Labels: Intel, NGraph

#15145 Conv int8 residual
  paddle/fluid/operators/conv_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
  python/paddle/fluid/tests/unittests/test_conv2d_int8_mkldnn_op.py
Labels: Intel, int8

#15291 Fix performance drop when with MKL-DNN
  paddle/fluid/platform/cpu_info.cc
Labels: Intel

#15335 Disable conv3d mkldnn in dam
  paddle/fluid/inference/tests/api/analyzer_dam_tester.cc
Labels: Intel

#15268 Enhance key generation for Pool INT8 test
  paddle/fluid/operators/pool_mkldnn_op.cc
Labels: Intel, int8

#15254 Enable softmax operator for a ngraph engine
  paddle/fluid/framework/ngraph_bridge.cc
  paddle/fluid/operators/ngraph/ngraph_ops.h
  paddle/fluid/operators/ngraph/ops/softmax_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_softmax_ngraph_op.py
Labels: Intel, NGraph

#14805 Enable element_wise_add operator for a ngraph engine
  paddle/fluid/framework/ngraph_bridge.cc
  paddle/fluid/operators/ngraph/ngraph_ops.h
  paddle/fluid/operators/ngraph/ops/elementwise_add_op.h
  paddle/fluid/operators/ngraph/ops/elementwise_binary_prepare_node.h
  paddle/fluid/operators/ngraph/ops/elementwise_node.h
  paddle/fluid/platform/ngraph_helper.h
  python/paddle/fluid/tests/unittests/ngraph/test_elementwise_add_ngraph_op.py
Labels: Intel, NGraph

#15028 Fix the exception when tensor format is x
  paddle/fluid/inference/tests/api/analyzer_mm_dnn_tester.cc
  paddle/fluid/operators/elementwise/elementwise_mul_mkldnn_op.cc
Labels: Intel

#14948 Adding ngraph_engine_op
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/executor.cc
  paddle/fluid/framework/ngraph_operator.h
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/ngraph/CMakeLists.txt
  paddle/fluid/operators/ngraph/ngraph_engine.cc
  paddle/fluid/operators/ngraph/ngraph_engine.h
  paddle/fluid/operators/ngraph/ngraph_engine_op.cc
  paddle/fluid/operators/ngraph/ngraph_engine_op.h
Labels: Intel, NGraph

#15538 move ngraph_bridge to ngraph directory
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/operators/ngraph/CMakeLists.txt
  paddle/fluid/operators/ngraph/ngraph_bridge.cc
  paddle/fluid/operators/ngraph/ngraph_bridge.h
  paddle/fluid/operators/ngraph/ngraph_engine.cc
Labels: Intel, NGraph

#15537 rm ngraph_operator.cc test=develop
  paddle/fluid/framework/ngraph_operator.cc
Labels: Intel, NGraph

#15478 Make separate folders for mkldnn codes
  cmake/operators.cmake
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/mkldnn/conv_bias_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_bias_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_elementwise_add_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_elementwise_add_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_elementwise_add_mkldnn_fuse_pass_tester.cc
  paddle/fluid/framework/ir/mkldnn/conv_relu_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_relu_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_relu_mkldnn_fuse_pass_tester.cc
  paddle/fluid/framework/ir/mkldnn/depthwise_conv_mkldnn_pass.cc
  paddle/fluid/framework/ir/mkldnn/depthwise_conv_mkldnn_pass.h
  paddle/fluid/framework/ir/mkldnn/depthwise_conv_mkldnn_pass_tester.cc
  paddle/fluid/framework/ir/mkldnn/mkldnn_placement_pass.cc
  paddle/fluid/framework/ir/mkldnn/mkldnn_placement_pass.h
  paddle/fluid/operators/activation_op.cc
  paddle/fluid/operators/elementwise/mkldnn/elementwise_add_mkldnn_op.cc
  paddle/fluid/operators/elementwise/mkldnn/elementwise_mul_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/batch_norm_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/concat_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_transpose_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/dequantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/fc_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/gaussian_random_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/lrn_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/mkldnn_activation_op.h
  paddle/fluid/operators/mkldnn/pool_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/quantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/softmax_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/sum_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/transpose_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/mkldnn/CMakeLists.txt
  python/paddle/fluid/tests/unittests/mkldnn/__init__.py
  python/paddle/fluid/tests/unittests/mkldnn/test_activation_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_batch_norm_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_concat_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_conv2d_int8_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_conv2d_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_conv2d_transpose_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_conv3d_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_dequantize_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_elementwise_add_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_elementwise_mul_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_fc_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_gaussian_random_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_lrn_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_pool2d_int8_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_pool2d_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_quantize_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_sum_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_transpose_mkldnn_op.py
Labels: Intel

#15560 Enable performance measurement in INT8 calibration unit test
  python/paddle/fluid/contrib/tests/test_calibration.py
Labels: Intel, int8

#15395 Enable pool2d operator for a ngraph engine
  paddle/fluid/operators/ngraph/ngraph_bridge.cc
  paddle/fluid/operators/ngraph/ngraph_ops.h
  paddle/fluid/operators/ngraph/ops/pool2d_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_pool2d_ngraph_op.py
Labels: Intel, NGraph

#15548 Add INT8 calibration README
  python/paddle/fluid/contrib/int8_inference/README.md
Labels: Intel, int8

#15591 optimize density_prior_box_op.h in detect model for cpu
  paddle/fluid/operators/detection/density_prior_box_op.h
Labels: Intel
