Repository PaddlePaddle/Paddle, pull requests merged in 2019-05, with the labels that each got.

#17190 update softmax op in ngraph engine on axis arg
  paddle/fluid/operators/ngraph/ops/softmax_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_softmax_ngraph_op.py
Labels: Intel, NGraph

#17266 improved unit test output
  paddle/fluid/inference/api/helper.h
  paddle/fluid/inference/tests/api/tester_helper.h
Labels: Intel, int8

#17189 Adding lrn op for ngraph engine
  paddle/fluid/operators/ngraph/ops/lrn_op.h
  paddle/fluid/platform/ngraph_helper.h
  python/paddle/fluid/tests/unittests/ngraph/test_lrn_ngraph_op.py
Labels: Intel, NGraph

#17198 Fix the KL algorithm bug when calculated the size of tensor.
  python/paddle/fluid/contrib/int8_inference/utility.py
Labels: Intel, int8

#17349 Optimize the computing kernel of sequence_reverse operator
  paddle/fluid/operators/sequence_ops/sequence_reverse_op.h
Labels: Intel

#17296 Enable gather operator for a NGraph
  paddle/fluid/operators/ngraph/ops/gather_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_gather_ngraph_op.py
Labels: Intel, NGraph

#17320 Adding dropout and dropout_grad to ngraph engine
  paddle/fluid/operators/ngraph/ngraph_engine.cc
  paddle/fluid/operators/ngraph/ops/dropout_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_dropout_ngraph_op.py
Labels: Intel, NGraph

#17295 Add fill_zeros_like op to ngraph engine
  paddle/fluid/operators/ngraph/ops/fill_zeros_like_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_fill_zeros_like_ngraph_op.py
Labels: Intel, NGraph

#17403 Optimize the sequence padding op
  paddle/fluid/operators/math/sequence_padding.cc
Labels: Intel

#17406 Enable stack operator for a NG
  paddle/fluid/operators/ngraph/ops/stack_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_stack_ngraph_op.py
Labels: Intel, NGraph

#17468 Enabling resnet101, vgg16, vgg19 INT8v2 model tests
  paddle/fluid/inference/tests/api/CMakeLists.txt
Labels: Intel, int8

#17436 Enable abs operator for a ngraph
  paddle/fluid/operators/ngraph/ops/binary_unary_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_activation_ngraph_op.py
Labels: Intel, NGraph

#17517 Enabled elementwise max operator test=develop
  paddle/fluid/operators/ngraph/ops/elementwise_node.h
  python/paddle/fluid/tests/unittests/ngraph/test_elementwise_max_ngraph_op.py
Labels: Intel, NGraph

#17130 Enable the convolution/relu6(bounded_relu) fusion for FP32 on Intel platform.
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/conv_brelu_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_brelu_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_brelu_mkldnn_fuse_pass_tester.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/operators/conv_op.cc
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_transpose_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
  python/paddle/fluid/tests/unittests/mkldnn/test_conv2d_mkldnn_op.py
Labels: Intel

#17453 Update ngraph engine to parse serialized graph
  paddle/fluid/operators/ngraph/ngraph_engine.cc
  paddle/fluid/operators/ngraph/ngraph_engine.h
Labels: Intel, NGraph

#16929 add increment op to ngraph engine
  paddle/fluid/operators/ngraph/ops/increment_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_increment_ngraph_op.py
Labels: Intel, NGraph

#17551 Enable SQUARE operator for the nGraph Bridge
  paddle/fluid/operators/ngraph/ops/activation_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_activation_ngraph_op.py
Labels: Intel, NGraph

#17512 Enable reshape operator test=develop
  paddle/fluid/operators/ngraph/ngraph_bridge.cc
  paddle/fluid/operators/ngraph/ngraph_bridge.h
  paddle/fluid/operators/ngraph/ngraph_engine.cc
  paddle/fluid/operators/ngraph/ops/reshape_op.h
  paddle/fluid/platform/ngraph_helper.h
  python/paddle/fluid/tests/unittests/ngraph/test_reshape_ngraph_op.py
Labels: Intel, NGraph

#17521 Enable elementwise min operator test=develop
  paddle/fluid/operators/ngraph/ops/elementwise_node.h
  python/paddle/fluid/tests/unittests/ngraph/test_elementwise_min_ngraph_op.py
Labels: Intel, NGraph

#17582 update ngraph version, v0.19 test=develop
  cmake/external/ngraph.cmake
Labels: Intel, NGraph

#17527 Enable elementwise sub operator test=develop
  paddle/fluid/operators/ngraph/ops/elementwise_node.h
  python/paddle/fluid/tests/unittests/ngraph/test_elementwise_sub_ngraph_op.py
Labels: Intel, NGraph

#17437 Enable assign operator for a ngraph, test=develop
  paddle/fluid/operators/ngraph/ops/assign_op.h
  paddle/fluid/operators/ngraph/ops/cross_entropy_op.h
  paddle/fluid/platform/ngraph_helper.h
  python/paddle/fluid/tests/unittests/ngraph/test_assign_ngraph_op.py
Labels: Intel, NGraph

#17552 Enable elementwise mul operator test=develop
  paddle/fluid/operators/ngraph/ops/elementwise_mul_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_elementwise_mul_ngraph_op.py
Labels: Intel, NGraph

#17292 fix quantize_squash_pass segfault when no tensor linked to Bias
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_squash_pass.cc
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/operators/mkldnn/concat_mkldnn_op.cc
Labels: Intel, int8

#17466 Conv concat relu quantization
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/conv_concat_relu_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_concat_relu_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_concat_relu_mkldnn_fuse_pass_tester.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
Labels: Intel, int8

#17543 Enable logical operators for the nGraph Bridge
  paddle/fluid/operators/ngraph/ops/binary_unary_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_logical_ngraph_op.py
Labels: Intel, NGraph

#15226 [MKL-DNN] Fully Connected
  cmake/generic.cmake
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/fc_fuse_pass.cc
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/fc_mkldnn_pass.cc
  paddle/fluid/framework/ir/mkldnn/fc_mkldnn_pass.h
  paddle/fluid/framework/ir/mkldnn/mkldnn_placement_pass.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/inference/tests/api/analyzer_bert_tester.cc
  paddle/fluid/inference/tests/api/analyzer_dam_tester.cc
  paddle/fluid/inference/tests/api/analyzer_mm_dnn_tester.cc
  paddle/fluid/inference/tests/api/analyzer_resnet50_tester.cc
  paddle/fluid/inference/tests/api/analyzer_seq_pool1_tester.cc
  paddle/fluid/inference/tests/api/analyzer_transformer_tester.cc
  paddle/fluid/inference/tests/api/analyzer_vis_tester.cc
  paddle/fluid/operators/mkldnn/fc_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/mkldnn/test_fc_mkldnn_op.py
  python/paddle/fluid/transpiler/inference_transpiler.py
Labels: Intel

#17526 Enable elementwise pow operator test=develop
  paddle/fluid/operators/ngraph/ops/elementwise_node.h
  python/paddle/fluid/tests/unittests/ngraph/test_elementwise_pow_ngraph_op.py
Labels: Intel, NGraph

#17547 Enable GELU operator for the nGraph Bridge
  paddle/fluid/operators/ngraph/ops/activation_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_activation_ngraph_op.py
Labels: Intel, NGraph

#17448 add Concat quantization
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass.cc
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass.h
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass_tester.cc
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_squash_pass.cc
  paddle/fluid/inference/api/mkldnn_quantizer.cc
  paddle/fluid/inference/api/mkldnn_quantizer_config.cc
  paddle/fluid/operators/concat_op.cc
Labels: Intel, int8

#17549 Enable SQRT operator for the nGraph Bridge
  paddle/fluid/operators/ngraph/ops/activation_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_activation_ngraph_op.py
Labels: Intel, NGraph

#17644 [MKL-DNN] conv_transpose mkldnn bias pass
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/conv_bias_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_bias_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_bias_mkldnn_fuse_pass_tester.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
Labels: Intel

#17570 Improve mobilenetv2 INT8 performance by using INT8 relu as post-op
  paddle/fluid/inference/api/mkldnn_quantizer.cc
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
Labels: Intel, int8

#17351 update python API examples
  paddle/fluid/API.spec
  python/paddle/fluid/layers/control_flow.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/layers/tensor.py
Labels: 文档

#17037 Capi: Ngraph engine
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/ngraph_subgraph_pass.cc
  paddle/fluid/framework/ir/ngraph_subgraph_pass.h
  paddle/fluid/inference/analysis/helper.cc
  paddle/fluid/inference/analysis/ir_pass_manager.cc
  paddle/fluid/inference/analysis/ir_passes/subgraph_detector.cc
  paddle/fluid/inference/analysis/ir_passes/subgraph_detector.h
  paddle/fluid/inference/api/CMakeLists.txt
  paddle/fluid/inference/api/analysis_config.cc
  paddle/fluid/inference/api/paddle_analysis_config.h
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/api/paddle_pass_builder.h
  paddle/fluid/inference/tests/api/config_printer.h
Labels: Intel, NGraph

#17454 add depthwise_conv2d op to ngraph engine
  paddle/fluid/operators/ngraph/ops/conv2d_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_conv2d_ngraph_op.py
Labels: Intel, NGraph

#17450 Enable reduce_sum operator for Ngraph
  paddle/fluid/operators/ngraph/ops/reduce_sum_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_reduce_ngraph_op.py
Labels: Intel, NGraph

#17642 Enable less_than ngraph operator
  paddle/fluid/operators/ngraph/ops/elementwise_node.h
  python/paddle/fluid/tests/unittests/ngraph/test_compare_ngraph_op.py
Labels: Intel, NGraph

#17645 Adding matmul op and its grad to ngraph engine
  paddle/fluid/operators/ngraph/ngraph_engine.cc
  paddle/fluid/operators/ngraph/ops/matmul_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_matmul_ngraph_op.py
Labels: Intel, NGraph

#17648 Add slice op and its grad to ngraph engine
  paddle/fluid/operators/ngraph/ops/slice_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_slice_ngraph_op.py
Labels: Intel, NGraph

#17636 Enable transpose tranpose2 and their grad ops to ngraph engine
  paddle/fluid/operators/ngraph/ops/transpose_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_transpose_ngraph_op.py
Labels: Intel, NGraph

#17647 Add lookup_table op and its grad to ngraph engine
  cmake/external/ngraph.cmake
  paddle/fluid/operators/ngraph/ops/lookup_table_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_lookup_table_ngraph_op.py
Labels: Intel, NGraph

#17737 Add input format in Transpose GetHash
  paddle/fluid/operators/mkldnn/transpose_mkldnn_op.cc
Labels: Intel
