Repository PaddlePaddle/Paddle, pull requests merged in 2022-01, with the labels that each got.

#38599 Added sqrt BF16 FWD/BWD oneDNN kernel
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/mkldnn/test_activation_bf16_mkldnn_op.py
Labels: Intel, BF16

#38622 Quantize nearest_interp and nearest_interp_v2
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass.cc
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass.h
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass_tester.cc
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_placement_pass.cc
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_placement_pass_tester.cc
  paddle/fluid/inference/api/mkldnn_quantizer.cc
  paddle/fluid/inference/api/mkldnn_quantizer_config.cc
  python/paddle/fluid/contrib/slim/quantization/quant2_int8_mkldnn_pass.py
  python/paddle/fluid/contrib/slim/tests/test_quant2_int8_mkldnn_pass.py
Labels: Intel, int8

#38665 Fix for matmul_v2 oneDNN op broadcasting when inputs dims have different lengths
  paddle/fluid/operators/mkldnn/matmul_v2_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/mkldnn/test_matmul_v2_mkldnn_op.py
Labels: Intel

#38702 Add input data type checking in BF16 placement pass
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/cpu_bfloat16_placement_pass.cc
  paddle/fluid/framework/ir/mkldnn/cpu_bfloat16_placement_pass_tester.cc
Labels: Intel, BF16

#38624 Added exp FP32 FWD/BWD oneDNN kernel and optimized other oneDNN grad kernels
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/mkldnn/test_activation_mkldnn_op.py
Labels: Intel

#38733 [CHERRY-PICK] Fix for matmul_v2 oneDNN op broadcasting when inputs dims have different lengths
  paddle/fluid/operators/mkldnn/matmul_v2_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/mkldnn/test_matmul_v2_mkldnn_op.py
Labels: Intel

#38745 fix:transform the data from cpu to gpu when trt is used (#37427)
  paddle/fluid/operators/tensorrt/tensorrt_engine_op.h
Labels: NVIDIA

#38703 Reupload: Added numpy bf16 datatype support via custom pip package
  python/paddle/fluid/tests/unittests/test_python_bf16_numpy_datatype.py
  python/requirements.txt
Labels: Intel, BF16

#38186 Jit pre save hook
  python/paddle/fluid/dygraph/jit.py
  python/paddle/fluid/tests/unittests/test_jit_pre_save_hooks.py
  python/paddle/jit/__init__.py
Labels: NVIDIA

#38331 Fix conv act int8 scale
  paddle/fluid/framework/ir/mkldnn/fc_act_mkldnn_fuse_pass.h
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  python/paddle/fluid/contrib/slim/quantization/quant2_int8_mkldnn_pass.py
  python/paddle/fluid/tests/unittests/mkldnn/test_conv2d_int8_mkldnn_op.py
Labels: Intel, int8

#38552 Added mul BF16/FP32 FWD/BWD oneDNN kernel
  paddle/fluid/operators/mkldnn/matmul_v2_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/mul_mkldnn_op.cc
  paddle/fluid/operators/mul_op.cc
  paddle/fluid/operators/mul_op.h
  paddle/fluid/operators/unity_build_rule.cmake
  paddle/fluid/platform/mkldnn_reuse.h
  python/paddle/fluid/contrib/mixed_precision/bf16/amp_lists.py
  python/paddle/fluid/tests/book/test_fit_a_line.py
  python/paddle/fluid/tests/unittests/mkldnn/test_mul_int8_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_mul_mkldnn_op.py
Labels: Intel, BF16

#38938 Fix for conv2D training error
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
  python/paddle/fluid/tests/unittests/mkldnn/test_conv2d_bf16_mkldnn_op.py
Labels: Intel, BF16

#38623 Mish FP32/BF16 kernel, conv and fc fuse passes
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass_tester.cc
  paddle/fluid/framework/ir/mkldnn/fc_act_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/fc_act_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/fc_act_mkldnn_fuse_pass_tester.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/fc_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_conv_activation_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_fc_act_fuse_pass.py
  python/paddle/fluid/tests/unittests/mkldnn/test_activation_bf16_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_activation_mkldnn_op.py
Labels: Intel, BF16

#38911 Remved redundant defintions of likely/unlikely
  paddle/fluid/framework/expect.h
  paddle/fluid/operators/fused/mkldnn/fusion_gru_mkldnn_op.cc
  paddle/fluid/operators/fused/mkldnn/fusion_lstm_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/prelu_mkldnn_op.cc
  paddle/fluid/platform/device_context.cc
Labels: Intel, ready to merge

#38912 Update passes in quant2_int8_mkldnn_pass
  python/paddle/fluid/contrib/slim/quantization/quant2_int8_mkldnn_pass.py
Labels: Intel, int8
